.admin__news{
  
    .main-panel{
        .MuiAppBar-colorPrimary{
            color: initial;
            background-color: transparent;
            box-shadow: none;
        }
      .NewsContent{
          .them-nguoi-dung{
              padding-left: 15px;
              .btn.btn-primary{
                background: linear-gradient(60deg, #ab47bc, #8e24aa);
              }
              .MuiButton-label{
                  font-size: 15px;
              }
              .MuiFormControl-root{
                  width: 100%;
              }
              .MuiInput-underline:hover:not(.Mui-disabled):before {
                border-bottom: 1px solid rgba(0, 0, 0, 0.87);
            }
          }

          .table__nguoi-dung{

              .card-title {
                  font-size: 18px;
              }
              th{
                  font-size: 15px;
              }
              td{
                  font-size: 14px;
                //   padding: 0px 20px;
                  margin: 0 10px;
                  &:nth-child(7){
                    width: 175px;
                    button{
                        margin:0 5px;
                        &:first-child{
                            margin: 0;
                        }
                    }
                  }
              }
          }
      }
    }
}